<ng-container *ngIf="intentosFallidos >= 3; else formularioLogin">
  <app-extraviado [mensaje]="'Has fallado ' + intentosFallidos + ' veces.'" (volver)="resetLogin()"></app-extraviado>
</ng-container>

<ng-template #formularioLogin>
  <div>
    <div class="login-box ">
      <h2>Recuerda login</h2>
      <div class="text-center">
        <input type="text" placeholder="Nombre" [(ngModel)]="nombre" />
        <div class="position-relative">
          <input [type]="mostrarClave ? 'text' : 'password'" placeholder="Contraseña" [(ngModel)]="clave" required
            class="form-control pe-5">

          <i class="bi toggle-icon" [ngClass]="mostrarClave ? 'bi-eye-slash' : 'bi-eye'"
            (click)="mostrarClave = !mostrarClave">
          </i>
        </div>

        <button (click)="login()"> <i class="bi bi-box-arrow-in-right"></i> Iniciar sesion</button>
      </div>
      <hr />
      <div class="text-center">
        <p class="text-danger">{{mensaje}}</p>
        <p>!Debes registrarte si no tienes cuenta¡</p>
        <button (click)="irRegistro()" class="mt-0"> Registrate <i class="bi bi-person-plus"></i> </button>
      </div>
    </div>
  </div>
</ng-template>
<app-dialogo-personalizado [dialogoVisible]="dialogoVisible" (cambiarDialogoVisible)="dialogoVisible = $event">
  <div class="text-center">
    <div class="card-dialogo m-3">
      <span class="px-2 m-4">¡Existe un usuario!<i class="bi bi-person-exclamation"></i></span>
      <button (click)="volverInicio()" class="btn-azul btn-xl m-4">Inicio <i class="bi bi-house-door"></i></button>
    </div>
  </div>

</app-dialogo-personalizado>