
<div class="cardShape shape1 p-4 mt-3">
    <div *ngIf="resultado">
        <label class="form-label">Resultado:</label>
        <div class="alert alert-success">{{ resultado }}</div>
    </div>
    <h5>Transformar texto a:  Mayúsculas</h5>
    <div class="mb-3">
        <button class="btn-azul btn-m" type="button"  (click)="todoMayuscula()">A-Z</button>
        <button class="btn-azul btn-m" type="button"  (click)="primeraMayuscula()" >A_</button>
        <button class="btn-azul btn-m" type="button"  (click)="ultimaMayuscula()">_Z</button>
        <button class="btn-azul btn-m" type="button"  (click)="vocalesMayusculas()">AEIOU</button>
        <button class="btn-azul btn-m" type="button"  (click)="consonantesMayusculas()" >BC</button>
        <button class="btn-azul btn-m" type="button" class="btn-rojo ms-5" (click)="limpiar()" ><i class="bi bi-eraser-fill"></i> Borrar</button>
    </div>
</div>