
h2 {
  margin-top: 0;
}
.card-string {
    width: 950px;
    margin: 2px;
    text-align: center;
}

.card-string a {
    color: rgba(5, 4, 4, 0.9);
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}

.card-string a:hover {
    color: rgb(38, 45, 242);
}




